<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<globalization uiCulture="es" culture="es-PE"/>
		<customErrors mode="Off"/>
		<!--Muestra errores detallados, siempre que este en OFF-->
		<sessionState timeout="10" />
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.7">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
			<assemblies>
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
		</compilation>
		<pages maintainScrollPositionOnPostBack="true">
		</pages>
		<httpRuntime targetFramework="4.7" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers />
	</system.codedom>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ws_Imagen_EmpleadoBNSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.7.12.124/WS_foto/ws_Imagen_EmpleadoBN.asmx"
			  binding="basicHttpBinding" bindingConfiguration="ws_Imagen_EmpleadoBNSoap"
			  contract="WS_ImagenEmpleadoBN_2Capas.ws_Imagen_EmpleadoBNSoap"
			  name="ws_Imagen_EmpleadoBNSoap" />
		</client>
	</system.serviceModel>
</configuration>